@font-face {
    font-family: 'paragrafo';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'titulo';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'sub-titulo';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'paragrafo', sans-serif;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ca1c2dd2, #ca1c2dd2), url(../img/home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    height: 90vh;
}

.responsive-menu-button {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.2rem 1.5rem;
}

.responsive-menu-list {
    display: none;
}

/* Classe para mudar o header quando rolar a página */
.roll {
    padding: 1rem 1.5rem;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.192);
    background-color: #fff;
    transition: 0.4s;
    z-index: 999;
}

/* Classe que adiciona background branco ao menu */
.menu-change {
    background-color: #fff;
    transition: 0.4s;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 62px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-family: 'sub-titulo', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    background-color: #C00416;
    padding: 8px 16px;
}

.nav a  {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #1d1d1d;
    transition: 0.4s;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title-content {
    text-align: center;
}

.home-title-content h3 {
    font-size: 1.8rem;
    color: #fff;
}

.home-title-content h1 {
    margin-bottom: 3px;
    font-family: 'titulo', sans-serif;
    font-size: 4.1rem;
    color: #fff;
}

.home-title-content h2 {
    font-family: 'titulo', sans-serif;
    font-size: 2.4rem;
    color: #fff;
}

.home-button {
    padding: 14px 25px;
    margin-top: 1.3rem;
    border: 2px solid #fff;
    color: #fff;
    z-index: 1;
    background-color: transparent;
    position: relative;
    font-family: 'paragrafo', sans-serif;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}
   
.home-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #C00416;
    z-index: -1;
    transition: all 350ms
}
   
.home-button:hover {
    color: #e8e8e8;
}
   
.home-button:hover::before {
    width: 100%;
}

.arrow {
    position: absolute;
}

.arrow i {
    position: relative;
    top: 370px;
    font-size: 2rem;
    color: #fff;
}

/*********** SECTION 1 - SERVICES **********/

.services-title {
    text-align: center;
}

.services-title1 {
    padding-bottom: 5px;
    color: #c00417e8;
    font-weight: normal;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.services-title2 {
    font-family: 'titulo', sans-serif;
    color: #1d1d1d;
}

/******************** MEDIA NOTEBOOK ********************/

@media screen and (max-width: 1300px) {
    
    .home-title-content h1 {
        font-size: 3.5rem;
    }

}

/******************** MEDIA CELULAR ********************/

@media screen and (max-width: 710px) {

    .responsive-menu-button {
        display: block;
    }

    .nav {
        display: none;
    }

    .responsive-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .responsive-btn i {
        font-size: 2rem;
    }

    .header-content {
        justify-content: space-between;
        padding: 0px 5px;
    }

    /* Responsive Menu Open */

    .responsive-menu-list {
        justify-content: center;
        align-items: center;
        background-color: #C00416;
    }

    .nav-responsive ul {
        list-style: none;
        text-align: center;
    }

    .nav-responsive li {
        margin: 1.2rem 0px;
    }

    .nav-responsive a {
        padding: 8px;
        font-size: 1.1rem;
        color: #fff;
        text-decoration: none;
    }

    .nav-responsive a:hover {
        color: #1d1d1d;
        transition: 0.4s;
    }

    .open {
        display: flex;
    }

    /* Home-Content */

    .home {
        background: linear-gradient(#ca1c2dd2, #ca1c2dd2), url(../img/home.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-title-content {
        padding: 0px 1rem;
    }

    .home-title-content h3 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 7px;
    }
    
    .home-title-content h1 {
        font-size: 2.5rem;
        margin-bottom: 9px;
    }
    
    .home-title-content h2 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .home-button {
        padding: 12px 23px;
        font-size: 16px;
    }

}