@font-face {
    font-family: 'paragrafo';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'titulo';
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'sub-titulo';
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'paragrafo', sans-serif;
    background-color: #f7f7f7;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#C00416d2, #c00416d2), url(../img/home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    height: 90vh;
}

.responsive-menu-button {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.2rem 1.5rem;
}

.responsive-menu-list {
    display: none;
}

/* Classe para mudar o header quando rolar a página */
.roll {
    padding: 14px 1.5rem;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.192);
    background-color: #fff;
    transition: 0.4s;
    z-index: 999;
}

/* Classe que adiciona background branco ao menu */
.menu-change {
    background-color: #fff;
    transition: 0.4s;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 62px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-family: 'sub-titulo', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    background-color: #C00416;
    border-radius: 6px;
    padding: 8px 16px;
}

.nav a  {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #1d1d1d;
    transition: 0.4s;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title-content {
    text-align: center;
}

.home-title-content h3 {
    font-size: 1.8rem;
    color: #fff;
}

.home-title-content h1 {
    margin-bottom: 3px;
    font-family: 'titulo', sans-serif;
    font-size: 4.1rem;
    color: #fff;
}

.home-title-content h2 {
    font-family: 'titulo', sans-serif;
    font-size: 2.4rem;
    color: #fff;
}

.home-button {
    padding: 14px 25px;
    margin-top: 1.3rem;
    border: 2px solid #fff;
    color: #fff;
    z-index: 1;
    background-color: transparent;
    position: relative;
    font-family: 'paragrafo', sans-serif;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}
   
.home-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #C00416;
    z-index: -1;
    transition: all 350ms
}
   
.home-button:hover {
    color: #e8e8e8;
}
   
.home-button:hover::before {
    width: 100%;
}

/*********** SECTION 1 - SERVICES **********/

.section1 {
    margin-bottom: 6.5rem;
}

.services-title {
    text-align: center;
    margin-bottom: 2rem;
}

.services-title1 {
    margin-bottom: 2px;
    color: #c00417e8;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.services-title2 {
    font-size: 1.6rem;
    font-family: 'titulo', sans-serif;
    color: #1d1d1d;
}

.services-cards-content {
    display: grid;
    grid-template-columns: 345px 345px 345px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-card {
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.192);
    background-color: #fff;
}

.services-card img {
    height: 200px;
    margin: -1.4rem 0px;
}

.services-card h3 {
    font-family: 'titulo', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #C00416;
}

/*********** SECTION 2 - PRODUCTS **********/

.section2 {
    height: 760px;
    background: linear-gradient(#C00416d2, #c00416d2), url(../img/products-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-title {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.products-title1 {
    margin-bottom: 2px;
    color: #fff;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.products-title2 {
    font-size: 1.6rem;
    font-family: 'titulo', sans-serif;
    color: #fff;
}

.products-cards-container {
    width: 1020px;
}

.products-cards {
    margin-bottom: 3rem;
}

.products-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    text-align: center;
    border-radius: 6px;
    background-color: #fff;
}

.products-card-img img {
    width: 100%;
    margin-bottom: 7px;
    border-radius: 6px;
}

.products-card-title {
    width: 100%;
    font-family: 'titulo', sans-serif;
    border-bottom: 2px solid #C00416;
    padding-bottom: 8px;
    color: #C00416;
}

.products-card-description {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 15px;
    color: #313131;
}

.products-card-price {
    margin-bottom: 12px;
    color: #fff;
    background-color: #000;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-family: 'titulo', sans-serif;
}

.products-card-button {
    background-color: #C00416;
    color: #fff;
    font-size: 1rem;
    font-family: 'sub-titulo', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
}

.products-card-button:hover {
    background-color: #a80516;
    transition: 0.3s;
}

.swiper-pagination-bullet {
    opacity: 1;
    background-color: #1d1d1d;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

/*********** SECTION 3 - PACKAGES **********/

.packages {
    margin-bottom: 5.5rem;
}

.packages-title {
    text-align: center;
    margin-bottom: 3rem;
}

.packages-title1 {
    margin-bottom: 2px;
    color: #c00417e8;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.packages-title2 {
    font-size: 1.6rem;
    font-family: 'titulo', sans-serif;
    color: #1d1d1d;
}

.packages-cards-content {
    display: grid;
    grid-template-columns: 530px 530px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.packages-card {
    width: 530px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.192);
}

.packages-card-description {
    padding: 1.5rem;
}

.packages-card-description h2 {
    font-family: 'titulo', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #C00416;
}

.packages-card-description ul {
    padding-left: 2.2rem;
}

.packages-card-price {
    margin-right: 1rem;
    padding: 1.5rem;
    background-color: #C00416;
    border-radius: 8px;
}

.packages-card-price p {
    font-size: 1.8rem;
    color: #fff;
}

/*********** SECTION 4 - GALLERY **********/

.section4 {
    margin-bottom: 6rem;
}

.gallery-title {
    text-align: center;
    margin-bottom: 2rem;
}

.gallery-title1 {
    margin-bottom: 2px;
    color: #c00417e8;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.gallery-title2 {
    font-size: 1.6rem;
    font-family: 'titulo', sans-serif;
    color: #1d1d1d;
}

.gallery-photos-content {
    width: 730px;
}

.swiper-slide img {
    width: 100%;
}

.arrow-next, .arrow-prev {
    color: rgba(7, 235, 235, 0.712);
}

/*********** SECTION 5 - TESTIMONIALS **********/

.testimonials {
    height: 730px;
    background-image: linear-gradient(#C00416d2, #c00416d2), url('../img/tesmonial-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
}

.testimonials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials-title {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 4rem;
}

.testimonials-title1 {
    margin-bottom: 2px;
    color: #fff;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.testimonials-title2 {
    font-size: 1.6rem;
    font-family: 'titulo', sans-serif;
    color: #fff;
}

.testimonials-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 22px;
}

.testimonial-img img {
    border-radius: 80%;
    height: 130px;
    margin-bottom: 5px;
}

.testimonial-card {
    width: 360px;
    padding: 1.5rem;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

.testimonial-card h2 {
    font-family: 'titulo', sans-serif;
    color: #C00416;
    margin-bottom: 7px;
}

.testimonial-card p {
    margin-bottom: 9px;
}

.stars i {
    color: #e9bb30;
    font-size: 1.1rem;
}

.testimonial-button {
    padding: 10px 20px;
    margin-top: 1.3rem;
    border: 2px solid #fff;
    color: #fff;
    z-index: 1;
    background-color: transparent;
    position: relative;
    font-family: 'paragrafo', sans-serif;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}
   
.testimonial-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #C00416;
    z-index: -1;
    transition: all 350ms
}
   
.testimonial-button:hover {
    color: #e8e8e8;
}
   
.testimonial-button:hover::before {
    width: 100%;
}

/*********** SECTION 6 - CONTACT **********/

.section6 {
    margin-bottom: 11rem;
}

.contact-title {
    text-align: center;
    margin-bottom: 4rem;
}

.contact-title1 {
    margin-bottom: 2px;
    color: #c00417e8;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.contact-title2 {
    font-size: 1.6rem;
    font-family: 'titulo', sans-serif;
    color: #1d1d1d;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.infos {
    display: flex;
    align-items: center;
    gap: 14px;
}

.infos-icon i {
    font-size: 1.4rem;
    color: #c00417;
}

.infos-desc-title {
    font-size: 1.2rem;
}

.infos-desc-subtitle {
    color: #313131;
}

.inputs-container {
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 1rem;
}

.text-email-container {
    display: flex;
    gap: 1.5rem;
}

.input {
    padding: 10px;
    font-size: 1.1rem;
    width: 350px;
}

.input-textarea {
    width: 725px;
    height: 180px;
    padding: 10px;
    font-size: 1.1rem;
    font-family: 'paragrafo', sans-serif;
    resize: none;
}

.button-form {
    padding: 10px 20px;
    margin-top: 2px;
    border: 2px solid #c00417;
    color: #c00417;
    z-index: 1;
    background-color: transparent;
    position: relative;
    font-family: 'paragrafo', sans-serif;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}
   
.button-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #C00416;
    z-index: -1;
    transition: all 350ms
}
   
.button-form:hover {
    color: #e8e8e8;
}
   
.button-form:hover::before {
    width: 100%;
}

/*********** FOOTER **********/

.footer1 {
    background-color: #151414;
}

.footer1-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
}

.footer1-desc1 {
    width: 330px;
}

.footer1-desc1-img img {
    height: 65px;
    margin-bottom: 5px;
}

.footer1-desc1 p {
    margin-bottom: 10px;
    color: #616161;
}

.footer1-desc1 h3 {
    font-family: 'sub-titulo', sans-serif;
    color: #d3d3d3;
    margin-bottom: 15px;
}

.footer1-desc1-redes {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    font-size: 1.1rem;
    color: #d3d3d3;
}

.footer1-desc2 {
    width: 280px;
}

.footer1-desc2 h3 {
    letter-spacing: 1px;
    color: #d3d3d3;
    border-bottom: 2px solid #a80516;
    margin-bottom: 10px;
    padding-bottom: 7px;
}

.footer1-desc2-links {
    list-style: none;
}

.footer1-desc2-links li {
    margin-bottom: 5px;
}

.footer1-desc2-links li:nth-child(odd) {
    clear: both;
    float: left;
    width: 65%;
}

.footer1-desc2-links a {
    text-decoration: none;
    color: #616161;
    font-size: 15px;
}

.footer1-desc2-links a:hover {
    text-decoration: underline;
}

.footer2-content {
    background-color: #C00113;
}

.footer2-content p {
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/******************** MEDIA NOTEBOOK ********************/

@media screen and (max-width: 1300px) {
    
    .home-title-content h1 {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 1150px) {
    
    .services-cards-content {
        grid-template-columns: 250px 250px 250px;
    }

    .section2 {
        height: 800px;
    }

    .products-cards-container {
        width: 85vw;
    }

    /* Section 3 */
    .packages-cards-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

}

/******************** MEDIA CELULAR ********************/

@media screen and (max-width: 710px) {

    .responsive-menu-button {
        display: block;
    }

    .nav {
        display: none;
    }

    .responsive-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .responsive-btn i {
        font-size: 2rem;
    }

    .header-content {
        justify-content: space-between;
        padding: 0px 5px;
    }

    /* Responsive Menu Open */

    .responsive-menu-list {
        justify-content: center;
        align-items: center;
        background-color: #C00416;
    }

    .nav-responsive ul {
        list-style: none;
        text-align: center;
    }

    .nav-responsive li {
        margin: 1.2rem 0px;
    }

    .nav-responsive a {
        padding: 8px;
        font-size: 1.1rem;
        color: #fff;
        text-decoration: none;
    }

    .nav-responsive a:hover {
        color: #1d1d1d;
        transition: 0.4s;
    }

    .open {
        display: flex;
    }

    /* Home-Content */

    .home {
        background-position: center;
    }

    .home-title-content {
        padding: 0px 1rem;
    }

    .home-title-content h3 {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 7px;
    }
    
    .home-title-content h1 {
        font-size: 2.5rem;
        margin-bottom: 9px;
    }
    
    .home-title-content h2 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .home-button {
        padding: 12px 23px;
        font-size: 16px;
    }

    /* Section 1 */

    .services-title {
        padding: 0px 12px;
    }

    .services-title1 {
        font-size: 1rem;
    }
    
    .services-title2 {
        font-size: 1.5rem;
    }

    .services-cards-content {
        grid-template-columns: 345px;
    }

    /* Section 3 */
    .packages-card {
        width: 90vw;
    }

    /* Section 4 */
    .gallery-photos-content {
        width: 90vw;
    }

    /* Section 5 */
    .testimonials-cards {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonials {
        height: 1130px;
    }

    /* Section 6 */
    
    .contact-info-container {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 1.5rem;
        margin-bottom: 4rem;
    }

    .infos {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .inputs-container {
        display: flex;
        justify-content: center;
    }
    
    .inputs {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        gap: 1rem;
    }
    
    .text-email-container {
        flex-direction: column;
    }
    
    .input {
        width: 90vw;
    }
    
    .input-textarea {
        width: 90vw;
    }

    /* Footer */
    .footer1-content {
        flex-direction: column;
        gap: 3rem;
    }

}

@media screen and (max-width: 500px) {

    /* Section 1 */
    .services-cards-content {
        grid-template-columns: 90vw;
    }

    /* Section 3 */
    .packages-card {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .packages-card-description {
        padding: 0.8rem;
        margin-bottom: 3px;
    }

    .packages-card-description h2 {
        margin-top: 5px;
    }
    
    .packages-card-description ul {
        padding-left: 2.2rem;
    }
    
    .packages-card-price {
        width: 100%;
        text-align: center;
        margin-right: 0rem;
        padding: 0.7rem 0px;
        border-radius: 0px 0px 6px 6px;
    }

    .packages-card-price p {
        font-size: 1.7rem;
    }

    /* Section 5 */
    .testimonial-card {
        width: 90vw;
    }

    /* Footer */
    .footer1-desc1 {
        width: 85vw;
    }

    .footer2-content p {
        font-size: 14px;
    }

}